profiles {
    standard {
        process {
            withName: 'validate_single' {
                cpus = 1
                memory = 6.GB
            }
            withName: 'validate_paired' {
                cpus = 1
                memory = 6.GB
            }
            withName: 'filter_human_paired' {
                cpus = 14
                memory = 30.GB
            }
            withName: 'filter_human_single' {
                cpus = 14
                memory = 30.GB
            }
            withName: 'filter_human_paired_second_pass' {
                cpus = 16
                memory = 30.GB
            }
            withName: 'filter_human_single_second_pass' {
                cpus = 16
                memory = 30.GB
            }
            withName: 'trimmomatic_paired' {
                cpus = 8
                memory = 8.GB
            }
            withName: 'trimmomatic_single' {
                cpus = 8
                memory = 8.GB
            }
            withName: 'snap_paired' {
                cpus = 16
                memory = 30.GB
            }
            withName: 'snap_single' {
                cpus = 40
                memory = 244.GB
            }
            withName: 'bbMask_Single' {
                cpus = 4
                memory = 32.GB
            }
            withName: 'CLOMP_summary' {
                cpus = 2
                memory = 50.GB
            }
        }
        aws.client.maxParallelTransfers = 1
    }
    testing {
        process {
            cpus = 1
            memory = 6.GB
        }
    }
}