profiles {	
    standard {	
        process {	
            withName: 'trim_files_PE' {	
                cpus = 4	
                memory = 4.GB	
            }
            withName: 'kallisto_human_PE' {	
                cpus = 4	
                memory = 6.GB	
            }	
            withName: 'kallisto_qc_PE' {	
                cpus = 4	
                memory = 6.GB	
            }	
            withName: 'trim_files_SE' {	
                cpus = 4	
                memory = 4.GB	
            }
            withName: 'kallisto_human_SE' {	
                cpus = 4	
                memory = 6.GB	
            }	
            withName: 'kallisto_qc_SE' {	
                cpus = 4	
                memory = 6.GB	
            }		
    }
    laptop {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
}
}
