profiles {	
    standard {	
        process {	
            withName: 'validate_single' {	
                cpus = 2	
                memory = 16.GB	
            }	
            withName: 'validate_paired' {	
                cpus = 10	
                memory = 20.GB	
            }	
            withName: 'filter_human_paired' {	
                cpus = 50	
                memory = 50.GB	
            }	
            withName: 'filter_human_single' {	
                cpus = 32	
                memory = 256.GB	
            }	
            withName: 'filter_human_paired_second_pass' {	
                cpus = 40	
                memory = 100.GB	
            }	
            withName: 'filter_human_single_second_pass' {	
                cpus = 20	
                memory = 30.GB	
            }	
            withName: 'trimmomatic_paired' {	
                cpus = 20	
                memory = 20.GB	
            }	
            withName: 'trimmomatic_single' {	
                cpus = 20	
                memory = 30.GB	
            }	
            withName: 'snap_paired' {	
                cpus = 50	
                memory = 50.GB	
            }	
            withName: 'snap_single' {	
                cpus = 48	
                memory = 384.GB	
            }	
            withName: 'collect_snap_results' {	
                cpus = 8	
                memory = 75.GB	
            }	
            withName: 'bbMask_Single' {	
                cpus = 32	
                memory = 256.GB	
            }	
            withName: 'deduplicate' { 
                cpus = 32
                memory = 256.GB
            }
            withName: 'CLOMP_summary' {	
                cpus = 8	
                memory = 60.GB	
            }	
            withName: 'generate_report' {	
                cpus = 2	
                memory = 20.GB	
            }	
        }	
        aws.client.maxParallelTransfers = 1	
    }	
    testing {	
        process {	
            cpus = 1	
            memory =4.GB	
        }	
    }	
}

